<!-- templates/alunos/aluno_detail.html -->
{% extends 'base.html' %}

{% block title %}Detalhes do Aluno{% endblock %}

{% block content %}
    <h1>Detalhes do Aluno: {{ aluno.nome_completo }}</h1>
    <p><strong>Nome Completo:</strong> {{ aluno.nome_completo }}</p>
    <p><strong>Data de Nascimento:</strong> {{ aluno.data_nascimento|date:"d/m/Y" }}</p>
    <p><strong>Série Pretendida:</strong> {{ aluno.serie_pretendida }}</p>
    <p><strong>Observações:</strong> {{ aluno.observacoes|default:"Nenhuma observação." }}</p>
    <p><strong>Data de Cadastro:</strong> {{ aluno.data_cadastro|date:"d/m/Y H:i" }}</p>

    <a href="{% url 'aluno_update' aluno.pk %}">Editar</a> |
    <a href="{% url 'aluno_delete' aluno.pk %}">Deletar</a>
    <a href="{% url 'aluno_list' %}" class="back-link">Voltar para a Lista</a>
{% endblock %}